body, html {
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}
header{
    display: flex;
    height: 15%;
    border-bottom: 0.1rem solid black;
    justify-content: space-around; 
    background-color: #233446; 
}
.profile{
    position: relative;
    top: .5rem;
    left: 0rem;
    height: 6rem;
    width: auto;
}
.linha {
    display: flex;
    flex-direction: row;
    background-color: #233446;
}

.nome_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arvo', serif;    
}

.nome_status li{
    font-size: x-large; 
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.pfp{
    height: 80%;
    width: auto;
    padding: .3rem;
}

.online{
    font-style: italic; 
}
.phone{
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    height: 1.5rem;
    width: auto;
}
.dots img{
    padding-top: 2.5rem;
    padding-right: 0rem;
    height: 1.5rem;
    width: auto;
}
.home{
    position: absolute;
    top: .3rem;
    right: 0.5rem;
    height: 3rem;
    width: auto;
}
main{
    height: 75%;   
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: #1B2936;
}
.coluna{
    display: flex;
    flex-direction:column;
}
.msg-titulo, .msg-titulo-invertido{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.msg-titulo-invertido{
    align-items: flex-end;
    justify-content: flex-end;
}
.msg-resposta, .msg-usuario{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2.5rem;
    padding: 1rem;
    color: white;
}
.msg-usuario{
    align-self: flex-start;
}
.msg-resposta{
    align-self: flex-end;
}
.bot_iten{
    height: 2rem;
    width: auto;    
}
.bolha-usuario{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color:#233446;
    border: #1B2936 0.2rem solid;
    padding: 1rem;
    border-radius: 0.5rem;
}

.bolha-resposta{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #233446;
    border-color: #1B2936;
    padding: 1rem;
    border-radius: 0.5rem;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2rem;
    margin: 1.2rem;
    background-color: #233446;
}
.botao-enviar{
    width: 20%;
    font-size: 1.5rem;
    color: white;
    background-color: #1B2936;
}
input[type="text"]
{
    padding: 0.4rem;
    font-size: 18px;
}