body, html,main{
    height: 90%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}
h1 {
    font-family: 'Arvo', serif;
    width: 100%;
    text-align: center;
    color: #f2f5f6;
}

a{
    color: #f2f5f6;
}

header {
    height: 15%;
    width: 100%;
    align-items: center;
    border-bottom: 0.5rem solid;
    padding-bottom: 1%;
    font-size: xx-large;
    border-color: #7a8c98;
    background-color: #233446;
}
.linha {
    display: flex;
    flex-direction: row;
}
.simbolo_home {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}
.simbolo_config {
    position: absolute;
    top: 0;
    left: 1rem;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}

.home{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}

.set{
    position: absolute;
    top: 0;
    left: 1rem;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}

main{
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    align-items: center;
    height: 120%;
    width: 100%;
}
img{
    height: 1rem;
    width: auto;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.a2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
    width: 60%;
    border-radius: .5rem;
    border: .1rem solid black;
    color: white;
    text-decoration: none;
}
.linha222 {
    display: flex;
    flex-direction: row;
}
.shop {
    font-size: x-large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Arvo', serif;
    color: #f2f5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img_shop {
    width: 25%;
    height: auto;
    margin-left: 10%;
}
.rest {
    font-size: x-large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Arvo', serif;
    color: #f2f5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img_rest {
    width: 30%;
    height: auto;
    margin-left: 10%;
}
.mercados {
    font-size: x-large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Arvo', serif;
    color: #f2f5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img_merc {
    width: 25%;
    height: auto;
    margin-left: 10%;
}
.farm {
    font-size: x-large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Arvo', serif;
    color: #f2f5f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.padrao {
    text-decoration: none;
    color: #f2f5f6;
    font-family: 'Arvo', serif;
}

.img_farm {
    width: 25%;
    height: auto;
    margin-left: 10%;
}
.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna li{
    border: 0.1rem solid;
    border-radius: 1rem;
    width: 60%;
    padding: 1rem;
}
.nome{
    align-self: center;
    font-family: 'Arvo', serif;

}

.nome_CoChange {
    font-size: xx-large;
    color: #f2f5f6;
}