main, body, html {
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}

body{
    background-color: #1b2936;
}

.linha {
    display: flex;
    flex-direction: row;
}

.img_farm {
    height: 40%;
    width: auto;
    border-radius:3rem;
    border: 1px solid black;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

header {
    height: 11.65%;
    width: 100%;
    align-items: center;
    border-bottom: 0.5rem solid;
    padding-bottom: 1%;
    background-color: #233446;
    border-color: #7a8c98;
}

h1 {
    width: 100%;
    text-align: center;
}

.simbolo_config {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}
.simbolo_home {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}

.nome_CoChange {
    font-size: xx-large;
    font-family: 'Arvo', serif;
}


.delivery {
    font-size: 130%;
    padding: 1rem;
    font-family: 'Arvo', serif;
}

.hfunc {
    font-size: 80%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-family: 'Arvo', serif;
}

main {
    position: relative;
    align-items: center;

}

.caminho {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 0.5rem;
    border: 1px solid black;
    font-family: 'Arvo', serif;
}

.teste {
    margin: 1rem;
    padding: 1rem;
}