main, body, html {
    height: 90%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}
.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    width: 100%;
    text-align: center;
    font-family: 'Arvo', serif;
}

.simbolo_config {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}
.simbolo_home {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}

.nome_CoChange {
    font-size: xx-large;
    font-family: 'Arvo', serif;
}

header {
    height: 15%;
    width: 100%;
    align-items: center;
    border-bottom: 0.5rem solid;
    padding-bottom: 1%;
    font-size: xx-large;
    border-color: #7a8c98;
    background-color: #233446;
}

.Idioma {
    font-size: x-large;
    border: 0.1rem solid;
    border-radius: 1rem;
    width: 80%;
    padding: 1rem;
    text-align: center;
    margin-top: 18%;
    font-family: 'Arvo', serif;
}
.port {
    text-decoration: none;
    color: #f2f5f6;
    font-family: 'Arvo', serif;
    
}
.ing {
    text-decoration: none;
    color: #f2f5f6;
    font-family: 'Arvo', serif;
}



