body, html,main {
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}

.simbolo_voltar {
    position: absolute;
    top: 0;
    left: 1rem;
    margin: 1rem;
    height: 3rem;
    width: auto;   
}


.linha {
    display: flex;
    flex-direction: row;
}


.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.coluna li{
    border: 0.1rem solid;
    border-radius: 1rem;
    width: 60%;
    padding: 1rem;
}


h1 {
    width: 100%;
    text-align: center;
    font-family: 'Arvo', serif;
}


header {
    height: 15%;
    width: 100%;
    align-items: center;
    border-bottom: 0.5rem solid;
    padding-bottom: 1%;
    font-size: xx-large;
    background-color: #233446;
}


.nome {
    font-size: xx-large;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Arvo', serif;
    background-color: #7a8c98;
}